<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Inventory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <h1>Update ventilator details</h1>
        <hr>
        <form>
            <div class="form-group">
                <label for="hid">HId:</label>
                <input type="text" class="form-control" placeholder="Enter  hId" name="hid" value = "<%= ventilatorDetails[0].hid %>" disabled>
                <label for="ventilatorId">VentilatorId:</label>
                <input type="text" class="form-control" placeholder="Ventilator Id" name="ventilatorId" value = "<%= ventilatorDetails[0].ventilatorId %>" disabled>
                <label for="status">Status:</label>
                <input type="text" class="form-control" placeholder="Status" name="status" value = "<%= ventilatorDetails[0].status %>" required>
                <label for="name">Name:</label>
                <input type="text" class="form-control" placeholder="Name" name="name" value = "<%= ventilatorDetails[0].name %>" disabled>
            </div>
            <button type="button" id = "updateButton" class="btn btn-primary">Update</button>
        </form>
    </div>
    
    <script src = "/main.js"></script>
</body>
</html>
